{% extends '/club/component/navbar.html.twig' %}

{% block title %}
    Room Booking - Manage Clubs - Add
{% endblock %}

{% set title = 'Create club' %}
{% set active = '' %}
{% block section %}
    <h1>Create club</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}