{% extends '/club/component/navbar.html.twig' %}

{% block title %}
    Room Booking - Manage Clubs - Edit
{% endblock %}

{% set title = 'Edit request' %}
{% set active = '' %}
{% block content %}
    <h1>Edit request</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}