{% extends 'layout.html.twig' %}

{% set title = 'Creating new building' %}
{% set active = '' %}
{% block section %}
    <h1>Creating new building</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}