{% extends 'layout.html.twig' %}

{% block section %}
    <section class="section-list">
            <article>
                <h2>
                    <span>room name</span>
                </h2>
                <span class="tag tag--capacity">capacity</span>
                <span class="tag tag--room-type">
                    room type
                </span>
                <a href="#" class="btn btn--view">view</a>
            </article>
    </section>
{% endblock %}