{% extends 'layout.html.twig' %}

{% set title = 'Creating new account' %}
{% set active = '' %}
{% block section %}
    <h1>Creating new account</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}