// colors


$color-white: #fff;
$color-white-dark: #f8f8f8;

$color-black: #000;

$color-orange: #FB9D4C;
$color-pink: #FC9696;

$color-blue-light: #3fdcfe;
$color-blue-dark: #51b9fe;

$color-purple-light: #BDADFE;
$color-purple-dark: #A38DFB;

$color-red-light: #FF5A5A;
$color-red-dark: #F62222;

$color-grey-light: #A2A2A2;
$color-grey-dark: #707070;

$color-green: #55c57a;
$color-green-light: #7ed56f;


// font
$default-font-size: 1.6rem;

$font-josefin-sans: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;