{% extends 'layout.html.twig' %}

{% block section %}
    <section class="section-list">
        {% if requests is empty %}
            <h2>No request</h2>
        {% endif %}

        {% for request in requests %}
            <article>
                <h2>
                    Username
                </h2>
                <div class="section-list__tags">
                    <span class="tag tag--room-name">{{ request.room.name }}</span>
                    <span class="tag tag--date">date</span>
                </div>
                <div class="section-list__buttons">
                    <a href="#" class="btn btn--view">details</a>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}