{% extends 'layout.html.twig' %}

{% set title = 'Edit room' %}
{% set active = '' %}
{% block content %}
    <h1>Edit {{ room.name }} room</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}